/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}

header {
    display: flex; 
    justify-content: center;
    margin-bottom: 20px; 
}

body {
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center; 
}

/* ===================================== 
   Grid & Layout Styles
======================================== */
 
.gallery {
    margin: auto; 
    width: 100%; 
    max-width: 875px; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px; 
}

/* ===================================== 
   Search Box
======================================== */



input[type="search"] {
    border: none; 
    border-radius: 3px; 
    padding: 15px; 
    width: 40%;
    border: 1px solid #cccccc; 
    margin: 20px; 
}